#coffee{
    position: relative;
    z-index: 999;
    .title{
        width:  100%;
        padding: .625rem;
        line-height: 1.5625rem;
        background: #fff;
        border: 1px solid #ccc;
        h6{
            position: absolute;
            bottom: -0.625rem;
            left: .3125rem;
            background: #fff;
            margin: 0;
            padding: 0;
            font-size: 12px;
        }
    }
}















